body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
  background-color: rgb(13, 13, 13);
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.foto {
  grid-column: 1;
}
.info {
  display: grid;
  place-items: start;
  place-self: start;
  gap: 20px;
}
.titulo {
  grid-template-columns: 1 / -1;
}
h1,
p {
  margin: 0px;
  color: white;
}
h1 {
  font-size: 48px;
  line-height: 1;
  align-self: center;
}
p,
span {
  font-size: 20px;
}
img {
  max-width: 100%;
  border-radius: 4px;
}

.descricao {
  text-align: right;
}
.preco {
  background-color: #2b2a2a;
  padding: 5px 10px;
  border-radius: 4px;
}
.comprar {
  text-decoration: none;
  background-color: rgb(255, 200, 0);
  padding: 10px 20px;
  border-radius: 4px;
  color: #103;
  font-size: 20px;
}
