@charset "UTF-8";
/*Cores que serão utilizadas
starjout/Starjout.ttf*/
@font-face {
  font-family: Starjedi;
  src: url(/desafio10/font/Starjedi.ttf);
}
@font-face {
  font-family: Starjhol;
  src: url(/desafio10/font/Starjhol.ttf);
}
@font-face {
  font-family: Starjout;
  src: url(/desafio10/font/Starjout.ttf);
}
@font-face {
  font-family: STJEDISE;
  src: url(/desafio10/font/STJEDISE.TTF);
}
@font-face {
  font-family: Strjmono;
  src: url(/desafio10/font/Strjmono.ttf);
}
:root {
  --cor1: #1b1c21;
  --cor2: #9faac6;
  --cor3: #21212b;
  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-starwars1: Starjedi;
  --font-starwars2: Starjhol;
  --font-starwars3: Srarjout;
  --font-starwars4: STJEDISE;
  --font-starwars5: Strjmono;
  --red1: #D90404;
  --red2: #730202;
}
/*Comandos gerais */
* {
  margin: 0px;
  padding: 0px;
}
/*Comandos do corpo*/
body {
  background-image: url(/desafio10/img/espaço-de-fundo.png);
  color: white;
  font-family: var(--fonte-padrao);
}
/*Comandos do cabeçaho*/
header {
  background-image: linear-gradient(
    to right,
    var(--cor1),
    var(--cor3),
    #606571fe
  );
  min-height: 150px;
  text-align: center;
  padding-top: 15px;
}
header > h1 {
  color: goldenrod;
  font-family: var(--font-starwars5);
  margin-bottom: 10px;
  max-width: 600px;
  margin: auto;
}
.titulo-principal {
  font-size: 3em;
  text-shadow: 2px 2px #d20709;
}
/*Subtitulo header*/
span {
  color: var(--red2);
  font-family: var(--font-starwars2);
  text-shadow: 1px 1px var(--red2);
}
.icones {
  width: 30px;
}
/*Comandos de navegação*/
nav {
  background-image: linear-gradient(to right, black, var(--cor1), #606571fe);
  padding: 10px;
  box-shadow: 0px 2px 2px black;
  margin-bottom: 1px;
}
nav > a {
  padding: 30px;
  font-size: medium;
  font-weight: bold;
  transition-duration: 0.5s; /*Faz animações ao clicar*/
  color: gold;
}
nav > .linkladosombrio:hover {
  background-image: linear-gradient(to right, red, darkred, black);
  padding: 10px;
  border-radius: 4px;
}
nav > .linkladoluminoso:hover {
  background-image: linear-gradient(to right,darkblue, blue,transparent);
  padding: 10px;
  border-radius: 4px;
}
.linkhome {
  margin: 10px;
}
a {
  color: white;
  text-decoration: none;
}
/*Conteudo*/
main {
  color: white;
  margin: auto;
  padding: 20px;
  margin-bottom: 30px;
  min-width: 300px;
  max-width: 1000px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.129);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*Subtitulos Main */
.subtitulos {
  text-shadow: 1px 2px var(--red1);
  background-image: linear-gradient(to right,transparent, var(--red2), transparent);
  border-radius: 4px;
  color: gold;
  font-family: var(--font-starwars2);
}
article > h1,h2 {
  text-align: center;
}
main p {
  margin: 15px 0px;
  text-indent: 30px; /*faz paragráfos*/
  line-height: 2em;  /*Entre uma linha e outra, não terá espaço*/
  font-size: 1.1em;
  color: gold;
  text-align: justify;
}
main strong{
  background-color: rgba(215, 3, 3, 0.277);
  border-radius: 50%;
}
.main_vader {
  width: 800px;
  border-radius: 50%;
  margin: auto;
  display: block;
/* Informações Gerais */
}
div.video {
  background-image:radial-gradient(transparent,var(--red2), transparent);
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 55%;
  position: relative;
}
div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;

}
aside {
  background-image: linear-gradient(to bottom,var(--red2), var(--red1), transparent);
  border-radius: 4px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.37);
  padding: 10px;
}
aside > ul, abbr {
  list-style-position: inside; /*Essa informação vai fazer com que as bolinhas fiquem para dentro*/
  columns: 2; /* Essa configuração vai fazer com que as listas fiquem divididas*/
  list-style-type: '\2B50\00A0\00A0'; /*Nesse código muda o estilo das listas, adicione antes do código
  do emoji '\caminho' */ /* O '00A0' Serve para dar espaços entre o icone e o texto */
  text-indent: 30px; /*faz paragráfos*/
  line-height: 2em;  /*Entre uma linha e outra, não terá espaço*/
  font-size: 1.1em;
}
aside > h3 {
  background-image: linear-gradient(to right,transparent,var(--cor3) , transparent);
  padding: 6px;
  box-shadow: 2px 2px var(--red2);
  text-align: center;
  text-shadow: 1px 2px var(--red1);
  border-radius: 4px;
  color :white;
  font-family: var(--font-starwars3);
  margin: -20px;
}
 h4 {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: goldenrod;
  font-size: 18px;
}
footer {
  background-color: var(--cor1);
  text-align: center;
  padding: 5px;
}
footer > p {
   font-weight: bolder;

}
footer p:hover{
  transition-duration: 0.5s;
  background-image: linear-gradient(to right, var(--red2), transparent);
  color: goldenrod;
}
