@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background: black url('img/espaco.jpg') center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
}
#astronauta {
  position: absolute;
  width: 400px;
  height:400px;
  background-image: url('img/astronauta.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.audio {
  width: 400px; /* controla o tamanho */
      filter: invert(100%) sepia(100%) saturate(300%) hue-rotate(180deg);
      /* acima inverte as cores, deixa o player em estilo claro/escuro */
      position: absolute;
      left: 50%;
      top: 85%;
      transform: translate(-50%, -50%);
}